{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css" />
<div class="container-fluid px-4">

    <h3 class="mt-4">Charts</h3>
    <div class="card mb-4">
        <div class="card-body">
            <form method="POST" autocomplete="off" enctype="multipart/form-data">
            <div class="input-group">
                <span class="input-group-text">Athlete 1:</span>
                <input type="text" id="athletes1" class="form-control" placeholder="Type first athlete's surname" name="athlete_name_1" value="{{ athlete_name_1 if athlete_name_1 }}"/>
                 <script>
                 $( function() {
                    var availableTags = [
                        {% for item in athletes %}
                            "{{ item }}",
                        {% endfor %}
                    ];
                    $( "#athletes1" ).autocomplete({
                      source: availableTags
                    });
                 });
                 </script>
                <span class="input-group-text">Athlete 2:</span>
                <input type="text" id="athletes2" class="form-control" placeholder="Type second athlete's surname" name="athlete_name_2" value="{{ athlete_name_2 if athlete_name_2 }}"/>
                 <script>
                 $( function() {
                    var availableTags = [
                        {% for item in athletes %}
                            "{{ item }}",
                        {% endfor %}
                    ];
                    $( "#athletes2" ).autocomplete({
                      source: availableTags
                    });
                 });
                 </script>
                <span class="input-group-text" style="border-left: 0; border-right: 0;">Distance:</span>
                <select name="distance" class="form-control form-select">
                    <option value='{{ distance if distance }}' selected hidden>{{ distance if distance }}</option>
                    {% for dist in distances %}
                        <option value='{{ dist }}'>{{ dist }}</option>
                    {% endfor %}
                </select>
                <input class="btn btn-primary btn-md" type="submit" name="show" value="Generate charts">
            </div>
            </form>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-chart-area me-1"></i>
            Athletes comparison - LCM
        </div>
        <div class="card-body"><canvas id="chart1" width="100%" height="20"></canvas>
            <script>

                let DataSet_1 = {
                    {% for item in results_lc_1 %}
                        '{{ item.date }}': '{{ item.fina_points }}',
                    {% endfor %}
                }
                let DataSet_2 = {
                    {% for item in results_lc_2 %}
                        '{{ item.date }}': '{{ item.fina_points }}',
                    {% endfor %}
                }

                let labels =  [...new Set([ ...Object.keys(DataSet_1), ...Object.keys(DataSet_2) ])].sort()

                let converted_1 = labels.map( key => ({ x: key, y: DataSet_1[key]}));
                let converted_2 = labels.map( key => ({ x: key, y: DataSet_2[key]}));

                var options = {
                    type: 'line',
                    data: {
                        datasets: [{
                            label: '{{ athlete_name_1 }}',
                            type: 'line',
                            lineTension: 0.3,
                            backgroundColor: "rgba(2,117,216,0.2)",
                            borderColor: "rgba(2,117,216,1)",
                            pointRadius: 5,
                            fill: true,
                            pointBackgroundColor: "rgba(2,117,216,1)",
                            pointBorderColor: "rgba(255,255,255,0.8)",
                            pointHoverRadius: 5,
                            pointHoverBackgroundColor: "rgba(2,117,216,1)",
                            pointHitRadius: 50,
                            pointBorderWidth: 2,
                            data: converted_1
                        }, {
                            label: '{{ athlete_name_2 }}',
                            type: 'line',
                            lineTension: 0.3,
                            backgroundColor: "rgba(192,0,0,0.2)",
                            borderColor: "rgba(192,0,0,1)",
                            pointRadius: 5,
                            fill: true,
                            pointBackgroundColor: "rgba(192,0,0,1)",
                            pointBorderColor: "rgba(255,255,255,0.8)",
                            pointHoverRadius: 5,
                            pointHoverBackgroundColor: "rgba(192,0,0,1)",
                            pointHitRadius: 50,
                            pointBorderWidth: 2,
                            data: converted_2,
                        }],
                        labels: labels
                    },
                    maintainAspectRatio: false,
                    legend: { display: false },
                    options: {
                        spanGaps: true,
                    }
                }

                const chart = document.getElementById('chart1')
                new Chart(chart, options);

            </script>
        </div>
        <div class="card-footer small text-muted">
            Best result {{ athlete_name_1 }}: {{ max_lc_1 if max_lc_2 }}
            <br>
            Best result {{ athlete_name_2 }}: {{ max_lc_2 if max_lc_2 }}
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-chart-area me-1"></i>
            Athletes comparison - SCM
        </div>
        <div class="card-body"><canvas id="chart2" width="100%" height="20"></canvas>
            <script>

                let DataSet_1_sc = {
                    {% for item in results_sc_1 %}
                        '{{ item.date }}': '{{ item.fina_points }}',
                    {% endfor %}
                }
                let DataSet_2_sc = {
                    {% for item in results_sc_2 %}
                        '{{ item.date }}': '{{ item.fina_points }}',
                    {% endfor %}
                }

                let labels_sc =  [...new Set([ ...Object.keys(DataSet_1_sc), ...Object.keys(DataSet_2_sc) ])].sort()

                let converted_1_sc = labels_sc.map( key => ({ x: key, y: DataSet_1_sc[key]}));
                let converted_2_sc = labels_sc.map( key => ({ x: key, y: DataSet_2_sc[key]}));

                var options = {
                    type: 'line',
                    data: {
                        datasets: [{
                            label: '{{ athlete_name_1 }}',
                            type: 'line',
                            lineTension: 0.3,
                            backgroundColor: "rgba(2,117,216,0.2)",
                            borderColor: "rgba(2,117,216,1)",
                            pointRadius: 5,
                            fill: true,
                            pointBackgroundColor: "rgba(2,117,216,1)",
                            pointBorderColor: "rgba(255,255,255,0.8)",
                            pointHoverRadius: 5,
                            pointHoverBackgroundColor: "rgba(2,117,216,1)",
                            pointHitRadius: 50,
                            pointBorderWidth: 2,
                            data: converted_1_sc
                        }, {
                            label: '{{ athlete_name_2 }}',
                            type: 'line',
                            lineTension: 0.3,
                            backgroundColor: "rgba(192,0,0,0.2)",
                            borderColor: "rgba(192,0,0,1)",
                            pointRadius: 5,
                            fill: true,
                            pointBackgroundColor: "rgba(192,0,0,1)",
                            pointBorderColor: "rgba(255,255,255,0.8)",
                            pointHoverRadius: 5,
                            pointHoverBackgroundColor: "rgba(192,0,0,1)",
                            pointHitRadius: 50,
                            pointBorderWidth: 2,
                            data: converted_2_sc,
                        }],
                        labels: labels_sc
                    },
                    maintainAspectRatio: false,
                    legend: { display: false },
                    options: {
                        spanGaps: true,
                    }
                }

                const chart_sc = document.getElementById('chart2')
                new Chart(chart_sc, options);

            </script>
        </div>
        <div class="card-footer small text-muted">
            Best result {{ athlete_name_1 }}: {{ max_sc_1 if max_sc_2 }}
            <br>
            Best result {{ athlete_name_2 }}: {{ max_sc_2 if max_sc_2 }}
        </div>
    </div>
</div>

{% endblock %}