{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css" />
<div class="container-fluid px-4">

    <h3 class="mt-4">Charts</h3>
    <div class="card mb-4">
        <div class="card-body">
            <form method="POST" autocomplete="off" enctype="multipart/form-data">
            <div class="input-group">
                <span class="input-group-text">Athlete name #1:</span>
                <input type="text" id="athletes1" class="form-control" placeholder="Type first athlete's name" name="athlete_name_1" value="{{ athlete_name_1 if athlete_name_1 }}"/>
                 <script>
                 $( function() {
                    var availableTags = [
                        {% for item in athletes %}
                            "{{ item }}",
                        {% endfor %}
                    ];
                    $( "#athletes1" ).autocomplete({
                      source: availableTags
                    });
                 });
                 </script>
                <span class="input-group-text">Athlete name #1:</span>
                <input type="text" id="athletes2" class="form-control" placeholder="Type second athlete's name" name="athlete_name_2" value="{{ athlete_name_2 if athlete_name_2 }}"/>
                 <script>
                 $( function() {
                    var availableTags = [
                        {% for item in athletes %}
                            "{{ item }}",
                        {% endfor %}
                    ];
                    $( "#athletes2" ).autocomplete({
                      source: availableTags
                    });
                 });
                 </script>
                <span class="input-group-text" style="border-left: 0; border-right: 0;">Distance:</span>
                <select name="distance" class="form-control form-select">
                    <option value='{{ distance if distance }}' selected hidden>{{ distance if distance }}</option>
                    {% for dist in distances %}
                        <option value='{{ dist }}'>{{ dist }}</option>
                    {% endfor %}
                </select>
                <input class="btn btn-primary btn-md" type="submit" name="show" value="Show chart">
            </div>
            </form>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-chart-area me-1"></i>
            Athlete progress in time - Long Course Meters
        </div>
        <div class="card-body"><canvas id="chart1" width="100%" height="20"></canvas>
            <script>
                let DataSet_1 = results_1
                let DataSet_2 = {'2017': 5, '2019': 4, '2020': 9, '2022': 11}
                let labels =  [...new Set([ ...Object.keys(DataSet_1), ...Object.keys(DataSet_2) ])].sort()

                let converted_1 = labels.map( key => ({ x: key, y: DataSet_1[key]}));
                let converted_2 = labels.map( key => ({ x: key, y: DataSet_2[key]}));

                var options = {
                    type: 'line',
                    data: {
                        datasets: [{
                            type: 'line',
                            label: 'DataSet_1',
                            data: converted_1
                        }, {
                            type: 'line',
                            label: 'DataSet_2',
                            data: converted_2,
                        }],
                        labels: labels
                    },
                    maintainAspectRatio: false,
                    legend: { display: false },
                    options: {
                        spanGaps: true,
                    }
                }

                const chart = document.getElementById('chart1')
                new Chart(chart, options);

            </script>
        </div>

    </div>

</div>

{% endblock %}