{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container-fluid px-4">
    <h1 class="mt-4">Baza danych masters</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="index.html">Tu będzie jakiś link</a></li>
        <li class="breadcrumb-item active">A tu nie</li>
    </ol>
    <div class="card mb-4">
        <div class="card-body">
            To jest strona startowa
            Bla bla
            bla bla bla
        </div>
    </div>
</div>
{% endblock %}