{% extends "base.html" %}
{% block title %}Rankings{% endblock %}
{% block content %}
<br>
<div class="container-fluid px-4">
    <form method="POST" autocomplete="off" enctype="multipart/form-data">
        <div class="card mb-4">
            <div class="card-body">
               <div class="input-group">
                <span class="input-group-text" style="border-left: 0; border-right: 0;">Year:</span>
                <select name="year" class="form-control form-select">
                    <option value='{{ year if year }}' selected hidden>{{ year if year }}</option>
                    {% for item in years %}
                        <option value='{{ item }}'>{{ item }}</option>
                    {% endfor %}
                </select>
                <span class="input-group-text" style="border-left: 0; border-right: 0;">Gender:</span>
                <select name="event_gender" class="form-control form-select">
                    <option value='{{ event_gender if event_gender }}' selected hidden>{{ event_gender if event_gender }}</option>
                    {% for item in genders %}
                        <option value='{{ item }}'>{{ item }}</option>
                    {% endfor %}
                </select>
                <span class="input-group-text" style="border-left: 0; border-right: 0;">Course:</span>
                <select name="course" class="form-control form-select">
                    <option value='{{ course if course }}' selected hidden>{{ course if course }}</option>
                    {% for item in courses %}
                        <option value='{{ item }}'>{{ item }}</option>
                    {% endfor %}
                </select>
                <span class="input-group-text" style="border-left: 0; border-right: 0;">Distance:</span>
                <select name="distance" class="form-control form-select">
                    <option value='{{ distance if distance }}' selected hidden>{{ distance if distance }}</option>
                    {% for item in distances %}
                        <option value='{{ item }}'>{{ item }}</option>
                    {% endfor %}
                </select>
                <span class="input-group-text" style="border-left: 0; border-right: 0;">Records nb:</span>
                <select name="records_nb" class="form-control form-select">
                    <option value='{{ records_nb if records_nb }}' selected hidden>{{ records_nb if records_nb }}</option>
                        <option value='5'>5</option>
                        <option value='10'>10</option>
                        <option value='20'>20</option>
                </select>
                <input class="btn btn-primary btn-md" type="submit" name="show" value="Show records">
               </div>
            </div>
        </div>
    </form>
    <br>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Rankings:
        </div>
        <div class="card-body">
            {% for key, value in top_results.items() if top_results %}
                <table id="{{ key }}" class="table table-striped table-hover caption-top">
                <caption>{{ key }}</caption>
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Athlete</th>
                        <th>Time</th>
                        <th>Date</th>
                        <th>City</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in value %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>
                                {% if item.result_type == 'INDIVIDUAL' %}
                                    <a href="{{ url_for('app.athletes', athlete_name=item.athlete_name) | replace(',', '%2C') | replace('(', '%28') | replace(')', '%29') }}">{{ item.athlete_name }}</a>
                                {% else %}
                                    <b>{{ item.club_name }}</b>
                                    <br>
                                    <span style="font-size: 12px">{{ item.athlete_name }}</span>
                                {% endif %}
                            </td>
                            <td>{{ item.swimtime }}</td>
                            <td>{{ item.date }}</td>
                            <td>{{ item.meet_city }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}